:css
  body { font-size: 15px; font-family: 'Lucida Grande'; margin: 0; padding: 20px 150px }
  h1 { font-size: 18px; margin: 0; padding: 5px; background: #000; }
  h1 a { color: #fff; }
  strong { width: 110px; display: inline-block; background: red; color: #fff; padding: 3px; text-align: right; margin-right: 10px; margin-top: 1px }
  strong.match { background: green }
  a { text-decoration: none; color: #555 }
  a:hover { text-decoration: underline }
  div { font-size: 20px; text-align: center; padding: 10px; background: #ccc }
  div a { margin: 0 20px; color: #000 }

%div
  - unless params[:offset].to_i == 0
    %a{ href: "?offset=#{params[:offset].to_i - 30}" } << previous
  %a{ href: "?offset=#{params[:offset].to_i + 30}" } next >>

%br

- @links.each do |link|
  %h1
    %a{ href: link.uri, target: '_blank' }= link.title
  - link.similar.records.each do |similar_link|
    %span
      %strong{ class: ('match' if similar_link._score > 1.5) }= similar_link._score
      %a{ href: '#', target: 'blank' }
        = similar_link.title
        %span= l(Date.parse(similar_link.published_at))
    %br

  %br

%div
  %a{ href: '#' } << previous
  %a{ href: '#' } next >>
